@import '../../styles/variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.authButtons {
    display: flex;
    gap: 1rem;
}